.header ul li:hover {
  color: #f23b43;
  cursor: pointer;
  transition: 0.5s;
}
.header ul li {
  font-size: 14px;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .header ul li {
    font-size: 10px;
    white-space: nowrap;
  }
}
