body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
.font-family {
  font-family: "Great Vibes", cursive;
}
.size-30px {
  font-size: 30px;
}
.size-35px {
  font-size: 35px;
}
.button-hover:hover {
  background-color: #f23b43;
  transition: 0.3s;
  color: white;
}
.text-333 {
  color: #333;
}
.border-red {
  border: 1px solid #f23b43;
}
